h1 {
    margin: 1px;
}

.contenedorILC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
    width: 100vw;
    row-gap: 30px;
}

.contenedorIC {
    display: flex;
    flex-direction: column;
}