#root {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#navbarPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#linkButton {
  text-decoration: none;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: beige;
  color: black;
}