p {
    font-size: 40px;
    margin: 0;
    padding:0 10px;
}

.pIC {
    background-color: white;
}

.contenedorIC {
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}